<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DES Solutions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <navbar class='navbar' style="    text-color: white;
  text-align:left;
  background-color:lightgreen;">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'contact' %}">Contact</a>
      <a href="{% url 'forumpost' %}">Forumpost</a>
      <a href="{% url 'article' %}">Articles</a>
      <a href="{% url 'DESagent' %}">DES Agent</a>
  </navbar>
  <navbar class='user_used' style ="float: right; text-color: white;text-align:right; background-color: lightgreen;">
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'register'%}">register</a>
    Welcome {{ user }} |<a href = "{% url 'logout' %}" >Log out</a>
  </navbar>
  <header>
    <h1>DES Solutions</h1>
  </header>
  <main>
    {% block main_content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 DES Solutions All rights reserved.</p>
  </footer>
</body>
</html>