{% extends "base.html"%}
{%block main_content%}
    <main>
        <section class="hero">
            <h2>Empowering Sustainable Waste Management</h2>
            <p>Join us in our mission to revolutionize waste management practices and promote environmental sustainability.</p>
            <a href="#" class="btn">Get Started</a>
        </section>
        <div>
            <h1>India Waste Management System</h1>
            <img src="https://www.susana.org/_resources/images/720/3-2939-7-1517482219.png" width='500px'>
            <ul style="flood-color: green ; font-family: Arial; list-style-type: none;">
                <li ><a href='#'>India's History</a></li>
                <li><a href='#'>India's WM</a></li>
            </ul>
        </div>
        <div>
            <h1>Singapore Waste Management System</h1>
            <img src="https://www.nea.gov.sg/images/default-source/our-serivces/waste-management/iwmf-synergies.jpg" width='500px'>
            <ul style="flood-color: green ; font-family: Arial; list-style-type: none;">
                <li ><a href='#'>Singapore's History</a></li>
                <li><a href='#'>Singapore's WM</a></li>
            </ul>
        </div>
        <section class="features">
            <h2>Key Features</h2>
            <ul style="flood-color: green ; font-family: Arial; list-style-type: none;">
              <li>Forum Post</li>
              <li>Informative Articles</li>
            </ul>
        </section>
    </main>
{% endblock %}