{% extends "base.html"%}
{%block main_content%}
{%load static %}
<link rel="stylesheet" href="/static/article/article.css"> 
</head>
</style>

<body>
    <main>
        <h1 class="art_h1">Articles</h1>
        <div class="article-content">
        <ul>
            {% for article in articles %}
                <li>
                    <article>
                    <h2>{{ article.art_title }}</h2>
                    <aside>
                    <p class="article-meta">published_date : {{ article.art_created_at|date:"d/m/Y" }}  | By <B>{{ article.art_author }}</b></p>
                    <img src="{{article.art_image.url}}" alt="article image"width='350px' height='150px'>
                    <p class:"art_text">{{ article.art_content }}</p>
                    </aside>
                    </article>
                </li>
            {% endfor %}
        </ul>
        </div>
    </main>
    {%if  user.is_staff %}
      <a href="{%url 'create_article' %}">Create Article</a><br/><br/>
    {%endif%}
</body>
{% endblock %}
