{% extends "base.html"%}
{%block main_content%}
{%load static %}
<link rel="stylesheet" href="/static/article/article.css"> 
</head>
</style>

<body>
    <main>
        <h1>Articles</h1>
        <div class="article-content">
        <ul>
            {% for article in articles %}
                <li>
                    <article>
                    <h2>{{ article.art_title }}</h2>
                    <aside>
                    <p class="article-meta">published_date : {{ article.art_created_at|date:"d/m/Y" }}  | By <B>{{ article.art_author }}</b></p>
                    <img src="{% static 'article_images\215208-untitled-design-2022-04-11t182506560.jpg' %}" alt="image not found" width="350px" height="400px">
                    <p>{{ article.art_content }}</p>
                    </aside>
                    </article>
                </li>
            {% endfor %}
        </ul>
        </div>
    </main>
    {%if  user.is_staff %}
      <a href="{%url 'create_article' %}">Create Article</a><br/><br/>
    {%endif%}
</body>
{% endblock %}
