{% extends "base.html"%}
{%block main_content%}
   
<div class="container"style='width: 100%;padding-right: 15px;padding-left: 15px;margin right: auto;margin left: auto;'></div>
</style>
    <h1>Feedback Form</h1>
    <form action="submit_feedback.php" method="post">
        <label for="name">Usernames:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Your Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <label for="message">Feedback:</label>
        <textarea id="message" name="message" required></textarea>
        <br>
        <input type="submit" value="Submit Feedback">
    </form>
</div>
<script>

</script>
{%endblock%}